<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{layout/navbar::navbar}"></div>
    <th:block th:if="${message}">
        <p th:text="${message}" style="color: blue"></p>
    </th:block>
    <form th:action="@{/customer/edit-customer}" th:object="${customer}" method="post">
        <input th:type="hidden" name="customerId" th:field="*{customerId}"/>
        <input th:type="hidden" name="customerCode" th:field="*{customerCode}"/>
        <div class="form-group">
            <label for="customerName">Full name</label>
            <input type="text" class="form-control" id="customerName" th:field="*{customerName}"/>
            <p th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" style="color: red"></p>
        </div>
        <div class="form-group">
            <label for="customerType">Customer Type</label>
            <select class="form-control" id="customerType" name="customerType" th:field="*{customerType}">
                <th:block th:each="c : ${customerTypes}">
                    <option th:value="${c.customerTypeId}" th:text="${c.customerTypeName}" th:selected="(${c.customerTypeId} == *{customerType.customerTypeId})"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label for="birthday">Birthday</label>
            <input type="date" class="form-control" id="birthday" th:field="*{customerBirthday}"/>
            <p th:if="${#fields.hasErrors('customerBirthday')}" th:errors="*{customerBirthday}" style="color: red">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" th:field="*{gender}">
                <option th:value="Male">Male</option>
                <option th:value="Female">Female</option>
            </select>
        </div>
        <div class="form-group">
            <label for="idCard">Id Card</label>
            <input type="text" class="form-control" id="idCard" th:field="*{customerIdCard}"/>
            <p th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}" style="color: red"></p>
        </div>
        <div class="form-group">
            <label for="phone">Phone number</label>
            <input type="text" class="form-control" id="phone" th:field="*{customerPhone}"/>
            <p th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}" style="color: red"></p>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" th:field="*{customerEmail}"/>
            <p th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}" style="color: red"></p>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" th:field="*{customerAddress}"/>
            <p th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}" style="color: red"></p>
        </div>
        <div>
            <input type="submit" value="Update"/>
        </div>
    </form>

    <div th:replace="~{layout/footer::footer}"></div>
</div>
</body>
</html>