<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>
<div class="container-fluid">
    <h1 style="text-align: center; color: blue">List Product</h1>
    <a href="/product/create">Create Product</a>
    <br/>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchKey">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br/>
    <table class="table table-striped" id="searchTable">
        <thead>
        <tr>
            <th scope="col">Index</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Product Type</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        <th:block th:each="product, state : ${products}">
            <tr>
                <td th:text="${state.index}+1"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.status}"></td>
                <td th:text="${product.productType.name}"></td>
                <td>
                    <button type="button" class="btn btn-danger" id="btnModalDelete"
                            th:onclick="'javascript:showDelete(\''+ ${product.id} + '\');'">
                        Delete
                    </button>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/product/list'(page=${products.number -1})}" th:if="${products.hasPrevious()}">Previous</a>
        <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
        <a th:href="@{'/product/list'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

<!-- Script-->
    <script>


        function showDelete(id) {
            $.ajax({
                method: "GET",
                url: "/product/delete/" + id,
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal('show');
                }
            })
        };

        function actionDelete(id){
            $.ajax({
                method: "POST",
                url: "/product/delete/" + id,
                dataType: "HTML",
                success: function (data) {
                    var messageDelete = "Delete!!!";
                    $("#modelId").modal('hide');
                    $("#searchTable").html(data);
                    $(".modal-body").html(messageDelete);
                    $("#modelId").modal('show');
                }


            })
        }
    </script>
</div>
</body>
</html>