<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>Create service</title>
</head>
<body>
<div th:replace="~{layout/navbar::navbar}"></div>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div>
    <form th:action="@{/service/create-service}" th:object="${service}" method="post">
        <div class="form-group">
            <label for="serviceName">Service name</label>
            <input type="text" class="form-control" id="serviceName" th:field="*{serviceName}"/>
        </div>
        <div class="form-group">
            <label for="serviceArea">Service area</label>
            <input type="text" class="form-control" id="serviceArea" th:field="*{serviceArea}"/>
        </div>
        <div class="form-group">
            <label for="serviceCost">Service cost</label>
            <input type="text" class="form-control" id="serviceCost" th:field="*{serviceCost}"/>
        </div>
        <div class="form-group">
            <label for="serviceMaxPeople">Service max people</label>
            <input type="text" class="form-control" id="serviceMaxPeople" th:field="*{serviceMaxPeople}"/>
        </div>
        <div class="form-group">
            <label for="rentType">Rent Type</label>
            <select class="form-control" id="rentType" th:field="*{rentType}">
                <th:block th:each="c : ${rentTypes}">
                    <option th:value="${c.rentTypeId}" th:text="${c.rentTypeName}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label for="serviceType">Service Type</label>
            <select class="form-control" id="serviceType" th:field="*{serviceType}">
                <th:block th:each="c : ${serviceTypes}">
                    <option th:value="${c.serviceTypeId}" th:text="${c.serviceTypeName}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label for="standardRoom">Standard room</label>
            <input type="text" class="form-control" id="standardRoom" th:field="*{standardRoom}"/>
        </div>
        <div class="form-group">
            <label for="descriptionOtherConvenience">Description Other Convenience</label>
            <input type="text" class="form-control" id="descriptionOtherConvenience" th:field="*{descriptionOtherConvenience}"/>
        </div>
        <div class="form-group">
            <label for="poolArea">Pool Area</label>
            <input type="text" class="form-control" id="poolArea" th:field="*{poolArea}"/>
        </div>
        <div class="form-group">
            <label for="numberOfFloor">Number of floor</label>
            <input type="text" class="form-control" id="numberOfFloor" th:field="*{numberOfFloor}"/>
        </div>
        <div>
            <input type="submit" value="Create"/>
        </div>
    </form>
</div>
<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>