<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>Edit service</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{layout/navbar::navbar}"></div>
    <th:block th:if="${message}">
        <p th:text="${message}" style="color: blue"></p>
    </th:block>
    <form th:action="@{/service/edit-service}" th:object="${service}" method="post">
        <input th:type="hidden" name="serviceId" th:field="*{serviceId}"/>
        <input th:type="hidden" name="serviceCode" th:field="*{serviceCode}"/>
        <div class="form-group">
            <label for="serviceName">Service name</label>
            <input type="text" class="form-control" id="serviceName" th:field="*{serviceName}"/>
            <p th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}" style="color: red"></p>
        </div>
        <div class="form-group">
            <label for="serviceArea">Service area</label>
            <input type="text" class="form-control" id="serviceArea" th:field="*{serviceArea}"/>
            <p th:if="${#fields.hasErrors('serviceArea')}" th:errors="*{serviceArea}" style="color: red"></p>
        </div>
        <div class="form-group">
            <label for="serviceCost">Service cost</label>
            <input type="text" class="form-control" id="serviceCost" th:field="*{serviceCost}"/>
            <p th:if="${#fields.hasErrors('serviceCost')}" th:errors="*{serviceCost}" style="color: red"></p>
        </div>
        <div class="form-group">
            <label for="serviceMaxPeople">Service max people</label>
            <input type="text" class="form-control" id="serviceMaxPeople" th:field="*{serviceMaxPeople}"/>
            <p th:if="${#fields.hasErrors('serviceMaxPeople')}" th:errors="*{serviceMaxPeople}" style="color: red"></p>
        </div>
        <div class="form-group">
            <label for="rentType">Rent Type</label>
            <select class="form-control" id="rentType" th:field="*{rentType}">
                <th:block th:each="c : ${rentTypes}">
                    <option th:value="${c.rentTypeId}" th:text="${c.rentTypeName}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label for="serviceType">Service Type</label>
            <select class="form-control" id="serviceType" th:field="*{serviceType}">
                <th:block th:each="c : ${serviceTypes}">
                    <option th:value="${c.serviceTypeId}" th:text="${c.serviceTypeName}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label for="standardRoom">Standard room</label>
            <input type="text" class="form-control" id="standardRoom" th:field="*{standardRoom}"/>
        </div>
        <div class="form-group">
            <label for="descriptionOtherConvenience">Description Other Convenience</label>
            <input type="text" class="form-control" id="descriptionOtherConvenience" th:field="*{descriptionOtherConvenience}"/>
        </div>
        <div class="form-group">
            <label for="poolArea">Pool Area</label>
            <input type="text" class="form-control" id="poolArea" th:field="*{poolArea}"/>
            <p th:if="${#fields.hasErrors('poolArea')}" th:errors="*{poolArea}" style="color: red"></p>
        </div>
        <div class="form-group">
            <label for="numberOfFloor">Number of floor</label>
            <input type="text" class="form-control" id="numberOfFloor" th:field="*{numberOfFloor}"/>
            <p th:if="${#fields.hasErrors('numberOfFloor')}" th:errors="*{numberOfFloor}" style="color: red"></p>
        </div>
        <div>
            <input type="submit" value="Update"/>
        </div>
    </form>

    <div th:replace="~{layout/footer::footer}"></div>
</div>
</body>
</html>