<div class="container">
  <h2>Register form</h2>
  <br>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
    </div>
    <div *ngIf="registerForm.get('email').touched && registerForm.get('email').invalid" class="alert alert-danger">
      Email is not valid
    </div>
    <div formGroupName="passwordGroup">
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
      </div>
      <div *ngIf="registerForm.hasError('minlength', 'password') && registerForm.get('password').touched" class="alert alert-danger">
        Password length >=6 character
      </div>
      <div class="form-group">
        <label for="exampleInputPassword2">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" formControlName="confirmPassword">
      </div>
      <div *ngIf="registerForm.hasError('passwordnotmatch', ['passwordGroup']) &&
      registerForm.get('passwordGroup').touched" class="alert alert-danger">
        Confirm password is not match
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Country</label>
      <select class="form-control" id="exampleFormControlSelect1" formControlName="country">
        <option value="VietNam">VietNam</option>
        <option value="Singapore">Singapore</option>
        <option value="American">American</option>
        <option value="Australia">Australia</option>
        <option value="Germany">Germany</option>
      </select>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" id="age" placeholder="Age" formControlName="age">
    </div>
    <div *ngIf="registerForm.get('age').touched && registerForm.get('age').invalid" class="alert alert-danger">
      Age is not valid
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="gridRadios1" value="Male" formControlName="gender">
            <label class="form-check-label" for="gridRadios1">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="gridRadios2" value="Female" formControlName="gender">
            <label class="form-check-label" for="gridRadios2">
              Female
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <label for="phoneNumber">Phone number</label>
      <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" formControlName="phone">
    </div>
    <div *ngIf="registerForm.get('phone').touched && registerForm.get('phone').invalid" class="alert alert-danger">
      Phone number is not valid
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid" >Submit</button>
  </form>
</div>
