<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete article</title>
</head>
<body>
<h1>Delete customer</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/articles">Article list</a>
</p>
<form th:action="@{/delete-article}" th:object="${article}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}"/>
    <table>
        <tr>
            <td>Title</td>
            <td th:text="${article.title}"></td>
        </tr>
        <tr>
            <td>Content</td>
            <td th:text="${article.content}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input th:type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>