<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Article</title>
</head>
<body>
<h1>Update Article</h1>
<p>
    <a href="/articles">Article list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:object="${article}" method="post" th:action="@{/edit-article}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table border="1">
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><textarea type="text" th:field="*{content}" rows="10" cols="70"></textarea></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select name="category">
                    <th:block th:each="c : ${categories}">
                        <option th:value="${c.id}" th:text="${c.name}" th:selected="(${c.id} == *{category.id})"></option>
                    </th:block>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"/></td>
        </tr>
    </table>
</form>
</body>
</html>