<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>Edit employee</title>
</head>
<body>
<div class="container">
    <div th:replace="~{layout/navbar::navbar}"></div>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/employee/edit}" th:object="${employeeDto}" method="post">
        <input th:type="hidden" name="employeeId" th:field="*{employeeId}"/>
        <div class="form-group">
            <label for="employeeName">Full name</label>
            <input type="text" class="form-control" id="employeeName" th:field="*{employeeName}"/>
        </div>
        <div class="form-group">
            <label for="birthday">Birthday</label>
            <input type="date" class="form-control" id="birthday" th:field="*{employeeBirthday}"/>
        </div>
        <div class="form-group">
            <label for="idCard">Id Card</label>
            <input type="text" class="form-control" id="idCard" th:field="*{employeeIdCard}"/>
        </div>
        <div class="form-group">
            <label for="salary">Salary</label>
            <input type="text" class="form-control" id="salary" th:field="*{employeeSalary}"/>
        </div>
        <div class="form-group">
            <label for="phone">Phone number</label>
            <input type="text" class="form-control" id="phone" th:field="*{employeePhone}"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" th:field="*{employeeEmail}"/>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" th:field="*{employeeAddress}"/>
        </div>
        <div class="form-group">
            <label for="position">Position</label>
            <select class="form-control" id="position" th:field="*{position}">
                <th:block th:each="c : ${positions}">
                    <option th:value="${c.positionId}" th:text="${c.positionName}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label for="division">Division</label>
            <select class="form-control" id="division" th:field="*{division}">
                <th:block th:each="c : ${divisions}">
                    <option th:value="${c.divisionId}" th:text="${c.divisionName}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label for="educationDegree">Education Degree</label>
            <select class="form-control" id="educationDegree" th:field="*{educationDegree}">
                <th:block th:each="c : ${educationDegrees}">
                    <option th:value="${c.educationDegreeId}" th:text="${c.educationDegreeName}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label for="user">User</label>
            <input type="text" class="form-control" id="user" th:field="*{username}"/>
        </div><div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" th:field="*{password}"/>
    </div>
        <div>
            <input type="submit" value="Update"/>
        </div>
    </form>

    <div th:replace="~{layout/footer::footer}"></div>
</div>
</body>
</html>