<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="hidden" th:field="${customer.customerId}">
<div>
    Customer: <p th:text="${customer.customerName}"></p>
    Are you sure to delete?
</div>
<button id="clickDelete" type="button" class="btn btn-danger"
        th:onclick="'javascript:actionDelete(\''+ ${customer.customerId} + '\');'">Delete
</button>

<script>
    function actionDetele(customerId) {
        $.ajax({
            type: "POST",
            url: "/customer/delete-customer/" + customerId,
            dataType: "HTML",
            success: function (data) {
                var messageDelete = "Delete!!";
                $("#modelId").modal('hide');
                $(#searchTable).html(data);
                $(".modal-body").html(messageDelete);
                $("#modelId").modal('show');
            }
        })
    }
</script>
</body>
</html>