<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create article</title>
</head>
<body>
<h1>Create Article</h1>
<p>
    <a href="/articles">Article List</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-article}" th:object="${article}" method="post">
<table>
    <tr>
        <td>Title: </td>
        <td><input type="text" th:field="*{title}"/></td>
    </tr>
    <tr>
        <td>Content: </td>
        <td><textarea th:field="*{content}" rows="15" cols="70"></textarea></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Create article"/></td>
    </tr>
</table>
</form>
</body>
</html>