<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-article">Create new article</a>
<h1>Articles</h1>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="article : ${articles}">
        <tr>
            <td th:text="${article.title}"></td>
            <td th:text="${article.content}"></td>
            <td><a th:href="@{/edit-article/__${article.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-article/__${article.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>