<div class="container-fluid">
  <h2 style="text-align: center">List all employee</h2>
  <div class="col-2">
    <a routerLink="/employee/add" class="btn btn-danger mt-5 mb-3">Create</a>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="fullName"
           [(ngModel)]="fullName" (ngModelChange)="searchName()">
  </div>
  <div class="mt-5 mb-3">
    <div class="col-2">
      <label for="exampleFormControlSelect1">Division</label>
      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="divisionId">
        <option *ngFor="let division of divisionList" [ngValue]="division.id" >{{division.name}}</option>
      </select>
    </div>
    <div class="col-2">
      <label for="position">Position</label>
      <select class="form-control" id="position" [(ngModel)]="positionId">
        <option *ngFor="let position of positionList" [ngValue]="position.id" >{{position.name}}</option>
      </select>
    </div>
    <div class="col-2">
      <label for="salary">Salary</label>
      <select class="form-control" id="salary" [(ngModel)]="salary">
        <option  [ngValue]="1">0- 5000</option>
        <option  [ngValue]="2">5000 - 10000</option>
        <option  [ngValue]="3">10000 - 15000</option>
        <option  [ngValue]="4">15000 - 20000</option>
      </select>
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Filter</button>
<!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchSalary()">Search Range</button>-->
  </div>
  <table class="table">
    <thead>
    <th (click)="sort('id')">Id</th>
    <th>Code</th>
    <th (click)="sort('fullName')">Full Name <i class="fa fa-sort"></i></th>
    <th>Birthday</th>
    <th>Id Card</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
    <th>Salary</th>
    <th>Division</th>
    <th>Position</th>
    <th>Education Degree</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let e of employees | orderBy: key: reverse | paginate: {currentPage: page, itemsPerPage: 5};">
      <td>{{e.id}}</td>
      <td>{{e.employeeCode}}</td>
      <td>{{e.fullName}}</td>
      <td>{{e.birthday | date: "dd/MM/yyyy"}}</td>
      <td>{{e.idCard}}</td>
      <td>{{e.phoneNumber}}</td>
      <td>{{e.email}}</td>
      <td>{{e.address}}</td>
      <td>{{e.salary}}</td>
      <td>{{e.division.name}}</td>
      <td>{{e.position.name}}</td>
      <td>{{e.educationDegree.name}}</td>
      <td><a [routerLink]="['/employee/edit', e.id]" class="btn btn-danger">Edit</a>
        <button mat-raised-button (click)="deleteEmployee(e.id, e.fullName)" class="btn btn-danger mx-3">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

