<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management</title>
</head>
<body>
<a href="/create">Create student</a>
<h3>Student Management</h3>
<form action="/" method="get">
    <input type="text" name="key_search">
    <input type="submit" value="Search">
</form>
<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Course</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student, start : ${students}">
        <td th:text="${start.count}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.address}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.course.name}"></td>
        <td>
            <a href="#">Delete |</a>
            <a href="#">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/'(page=${students.number - 1}, key_search=${key_search})}" th:if="${students.hasPrevious()}">Previous</a>
    <span th:text="${students.number + 1}"></span>/<span th:text="${students.totalPages}"></span>
    <a th:href="@{'/'(page=${students.number + 1}, key_search=${key_search})}" th:if="${students.hasNext()}">Next</a>
</div>
</body>
</html>